* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1;
    background-color: #f9f9f9;
    color: #333;
}
.container2 {
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.services {
    padding:50px;
    text-decoration:none;  
}

.service {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-decoration:none;   
}
.service:hover {
    transform: translateY(-5px);
}
.service h3 {
    margin-top: 0;
    font-size: 1.8rem;
    text-decoration:none;
}
.service p {
    color: #666;
    text-decoration:none;
}
